.LevelCards {
  width: 350px;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px solid black;
  gap: 20px;
  margin: 20px;
  border-radius: 3px;

  h2 {
    color: black  ;
  }

  a {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
  }
}
